<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @page.title %> - <%= @project.title %></title>
  </head>
  <body>
    <h1><a href="<%= page_url("index") %>"><%= @project.title %></a></h1>
    <p><%= @project.description %></p>
    <%= include "nav" %>
    <%= @contents %>
  </body>
</html>
