<h2><%= @page.title %></h2>
<ul>
  <%= for x <- @all_posts do %>
    <li>
      <p><a href="<%= x.url %>"><%= x.title %></a>
      &mdash;
      <span class="date"><%= x.date %></span></p>
    </li>
  <% end %>
</ul>
