defmodule <%= @mod_name %>.MixFile do
  use Mix.Project

  def project do
    [
      app: :<%= @app_name %>,
      version: "0.1.0",
      elixir: "~> <%= @elixir_version %>",
      start_permanent: Mix.env == :prod,
      deps: deps()
    ]
  end

  def application do
    [
      extra_applications: [:logger]
    ]
  end

  defp deps do
    [
      {:serum, git: "https://github.com/Dalgona/Serum.git", branch: "master"}
    ]
  end
end
