<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @site_name %> - <%= page_title %></title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <p><a href="<%= @base_url %>"><%= @site_name %></a></p>
        <p><%= @site_description %></p>
      </header>
      <nav><%= @navigation %></nav>
      <main><%= contents %></main>
      <footer>
      </footer>
    </div>
  </body>
</html>
