<section>
  <header>
    <h2>Posts</h2>
  </header>
  <ul>
    <%= for x <- posts do %>
      <li><a href="<%= x.file %>"><%= x.title %></a>&nbsp;<span class="date"><%= x.date %></span></li>
    <% end %>
  </ul>
</section>
