<section>
  <article>
    <header>
      <h1><%= title %></h1>
      <p>Posted on <%= date %> by <%= @author %></p>
    </header>
    <div>
      <%= contents %>
    </div>
  </article>
  <%#<nav>
    Placeholder for the pagination nav
    </nav>%>
</section>
