<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @page.title %> - <%= @site.name %></title>
  </head>
  <body>
    <h1><a href="<%= base() %>"><%= @site.name %></a></h1>
    <p><%= @site.description %></p>
    <%= include "nav" %>
    <%= @contents %>
  </body>
</html>
